@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-modal-content{
  padding: 20px 0!important;
  border: 2px!important;
  border-radius: 0!important;
  .ant-modal-title{
    font-weight: normal;
  }
}
.ant-modal-header{
  padding-left: 10px;
  padding-right: 10px;
}

.ant-popover .ant-popover-inner{
  padding: 0 0!important;
  margin-right: 10px;
}
.ant-popover .ant-popover-arrow{
  left: 80%!important;
}

//去除滚动条
::-webkit-scrollbar {
  display: none;
}
